// 7-nested_deeper.scss

// Assign the values to the tags
body {
  font-size: 14px;
  h1 {
    font-size: 16px;
    &.smaller { // <- Nested class inside nested tag
      font-size: 12px;
    }
  }
}
